
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Update User</title>
</head>

<body>

<div class="container">

    <h3>Doctor Directory</h3>
    <hr>

    <p class="h4 mb-4">Save User</p>

    <form action="#" th:action="@{/save}"
          th:object="${user}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{userName}"
               class="form-control mb-4 col-4" placeholder="First name" readonly >



        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4" placeholder="First name" readonly>

        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="Last name" readonly>

        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email" readonly>

        <div style="margin-bottom: 25px" class="input-group">
            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-parents"></i></span>
            --><label>Gender : </label>
            <input type="radio" th:field="*{gender}" value="male"  th:errorclass="fieldError"  disabled="disabled"/>male
            <input type="radio" th:field="*{gender}" value="female"  th:errorclass="fieldError" disabled="disabled" />female
        </div>

        <input type="text" th:field="*{age}"
               class="form-control mb-4 col-4" placeholder="age" readonly>

        <input type="text" th:field="*{adharCard}"
               class="form-control mb-4 col-4" placeholder="adhar card" readonly>

        <div style="margin-bottom: 25px" class="input-group">
            <label>Vaccine : </label>
            <input type="radio" th:field="*{vaccinationStatus}" value="Not vaccinated"  checked="checked" th:errorclass="fieldError"/>Not done
            <input type="radio" th:field="*{vaccinationStatus}" value="Vaccinated"  th:errorclass="fieldError" />Done
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/doctors/list}">Back to users List</a>

</div>
</body>

</html>









